<!DOCTYPE html>
<html lang="en">
  <head
    th:replace="fragments/head :: head (title = 'SmartGen - Accès et Partage des Avantages')"
  ></head>
  <!-- Initilize JS variables from backend data reveived in the view -->
  <script th:inline="javascript">
    /*<![CDATA[*/
    var domaines = [[${ domaines }]];
    console.log(domaines);

    /*]]>*/
  </script>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div th:replace="fragments/header :: nav"></div>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box search-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input
                    type="text"
                    onkeyup="updateView()"
                    id="searchQuery"
                    class="form-control"
                    placeholder="Recherche par mots"
                  />
                </div>
              </form>
            </div>

            <div>
              <label
                id="img_category_label"
                class="field search-list"
                for="img_category"
                data-value=""
              >
                <span>Type d'institutions</span>
                <div
                  id="institution-types-div"
                  class="psuedo_select"
                  name="img_category"
                >
                  <span class="selected"></span>
                  <ul class="options" id="institution-types"></ul>
                </div>
              </label>
            </div>

            <div class="radio-container">
              <label class="radio">
                <input type="radio" name="r" value="1" /> <span>Publique</span>
              </label>
              <label class="radio">
                <input type="radio" name="r" value="2" /> <span>Privée</span>
              </label>
              <label class="radio">
                <input type="radio" name="r" value="3" checked />
                <span>Tout</span>
              </label>
            </div>

            <!--
					<div>
						<label id="img_category_label" class="field search-list"
							for="img_category" data-value=""> <span>Type de
								ressource</span>
							<div id="img_category" class="psuedo_select" name="img_category">
								<span class="selected"></span>
								<ul id="ressource-classes" class="options">
								</ul>
							</div>
						</label>
					</div>
					  -->
          </div>
          <!-- Institutions List -->
          <div class="col-lg-8 ftco-animate" id="institutions-list"></div>
          <!-- .col-md-8 -->
        </div>
      </div>
    </section>
    <!-- .section -->

    <div th:replace="fragments/footer"></div>
    <script>
      var institutionsList = document.getElementById("institutions-list");

      function displayInstitutions(institutions) {
        institutionsList.innerHTML = "";
        institutions.forEach(function(item) {
          institutionsList.innerHTML += `
				<div class="row list-item-container">
						<div class="col-lg-10 col-md-8 col-sm-6">
							<div class="row">
								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="list-image">
										<img src="http://localhost:5656/upload/building.png" alt="Image placeholder">
									</div>
								</div>
								<div class="col-lg-9 col-md-8 col-sm-6">
									<div class="list-details">
										<a href="#">
											<h5>${item.nom_institution}</h5>
										</a>
										<ul>
											<li><span class="icon icon-map-marker"></span> <span
													class="text">${item.adresse}</span></li>
											<li><span class="icon icon-phone"></span> <span
													class="text">${item.tel}</span></li>
											<li><span class="icon icon-envelope"></span> <span
													class="text">${item.email}</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="ml-auto text-right">
								<a class="btn py-1 px-2 btn-primary state">${
                  item.statut == 1 ? "Publique" : "Privée"
                }</a>
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-12 list-para">
									<p>${item.description} Lorem ipsum dolor sit amet, consectetur adipisicing
										elit. Ducimus itaque, autem necessitatibus voluptate quod
										mollitia delectus aut, sunt placeat nam vero culpa sapiente
										consectetur similique, inventore eos fugit cupiditate numquam!</p>
								</div>
							</div>
						</div>
					</div>
			`;
        });
      }

      var institutionTypes = document.getElementById("institution-types");
      institutionTypes.innerHTML = '<li class="option">Tout</li>';
      domaines.forEach(function(item) {
        institutionTypes.innerHTML += `<li class="option" data-value="${item.id}">${item.domaine}</li>`;
      });

      /*
		var ressourcesClasses = document.getElementById('ressource-classes');
		RClasses.forEach( function(item) {
			ressourcesClasses.innerHTML += `<li class="option" data-value="${item.id}">${item.nom}</li>`;
		});
		*/

      // recherche
      function updateView() {
        var result = [];
        var inst = domaines.forEach(function(e) {
          if (
            e.domaine == $("#institution-types-div span.selected").html() ||
            $("#institution-types-div span.selected").html() == "" ||
            $("#institution-types-div span.selected").html() == "Tout"
          )
            e.instituitions
              .filter(function(e) {
                if (checkConditions(e)) return e;
              })
              .forEach(function(i) {
                result.push(i);
              });
        });
        console.log(result);

        displayInstitutions(result);
      }

      $("input[type=radio][name=r]").change(function() {
        updateView();
      });

      $("#institution-types").mouseup(function() {
        setTimeout(function() {
          updateView();
        }, 500);
      });

      function checkConditions(institution) {
        var statut =
          $("input[name=r]:checked").val() == institution.statut ||
          $("input[name=r]:checked").val() == 3
            ? true
            : false;
        if (
          statut &&
          institution.nom_institution.toLowerCase().includes(
            $("#searchQuery")
              .val()
              .toLowerCase()
          )
        )
          return true;
        else return false;
      }

      function init() {
        updateView();
      }

      init();
    </script>
  </body>
</html>
