<!DOCTYPE html>
<html lang="en">
  <head
	th:replace="fragments/head :: head (title = 'SmartGen - Accès et Partage des Avantages')"></head>
<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div th:replace="fragments/header :: nav"></div>
	  
	  <section class="ftco-section testimony-section" id="testimony-section">
      <div class="container">
        <div class="row justify-content-center pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Nagoya</h2>
          </div>
        </div>
        
      </div>
    </section>

   
	  
		<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/about-ressources1.jpg);">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate">
			          	<span class="subheading">Nagoya </span>
			            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">C'est qoui Le Protole de Nagoya</h2>
			            <p class="text-justify"> 
			           Le Protocole de Nagoya est un nouveau traité international qui donne suite
et soutient la CDB, en particulier l’un de ses trois objectifs, le partage juste et
équitable des avantages découlant de l’utilisation des ressources génétiques.
Le Protocole de Nagoya est un accord historique dans la gouvernance
internationale de la biodiversité et concerne divers secteurs commerciaux et non
commerciaux engagés dans l’utilisation et l’échange des ressources génétiques.
			            </p>
			            
			            <p class="text-justify">
			            Le Protocole de Nagoya repose sur les principes fondamentaux de l’accès et du
partage des avantages consacrés par la Convention sur la diversité biologique.
Ces principes nécessitent l’obtention, par les utilisateurs potentiels de ressources
génétiques, <strong>du consentement préalable en connaissance de cause </strong>du pays
dans lequel la ressource est située avant que l’accès ne soit accordé, ainsi que la
négociation et l’établissement <strong> de conditions convenues d’un commun accord </strong> 
d’accès et d’utilisation de cette ressource. Cet accord doit inclure le partage des
avantages découlant de l’utilisation de cette ressource avec le fournisseur, comme
condition préalable d’accès à la ressource et de son utilisation. Inversement, les
pays qui fournissent des ressources génétiques doivent prévoir. Inversement,
les pays qui fournissent des ressources génétiques doivent prévoir des règles et
procédures d’accès à leurs ressources génétiques justes et non arbitraires. 
			             </p>
			          </div>
			        </div>
		          <div class="counter-wrap ftco-animate d-flex mt-md-3">
	              <div class="text p-4 bg-primary">
	              	<p class="mb-0">
		                <span class="number" data-number="114">0</span>
		                <span>Parties</span>
	                </p>
	              </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

     <section class="nagoya-important bg-light " id="nagoya-content">
      <div class="container text-center">
       <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Info</span>
            <h2 class="mb-4">Porqoui Nagoya est important</h2>
            <p>Le Protocole de Nagoya assure une plus grande sécurité juridique et plus de
transparence.</p>
          </div>
        <div class="row ">
          <div class="col-12 col-md-6 col-lg-4">
          	
          		<span> 
					<i class="fal fa-leaf"></i>
          	    </span>
          	    
          		<p class="title-icon-re">Il contribue à assurer le partage des avantages, notamment lorsque
les ressources génétiques quittent le pays fournisseur </p>	 
          
          	
          </div>
          
           <div class="col-12 col-md-6 col-lg-4">
          	<span> 
				<i class="fal fa-seedling"></i>
          	</span>
          	 
          <p class="title-icon-re"> le Protocole de Nagoya encourage l’avancement de la recherche sur les
ressources génétiques </p>	
          </div>
          
           <div class="col-12 col-md-6 col-lg-4">
          	<span> 
				<i class="fal fa-spa"></i>
          	</span>
          	 
          	<p class="title-icon-re">le Protocole de Nagoya crée des incitations à préserver
et utiliser de manière durable les ressources génétiques,  </p>
          </div>
                
          
          
        </div>
      </div>
    </section>
    
    
    
     <section class="ftco-section testimony-section" id="testimony-section">
      <div class="container">
        <div class="row justify-content-center pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Contenu de Nagoya</h2>
          </div>
        </div>
        
        
        <div class="row">
        	<div class="col-12 col-md-6">
        		<div class="nagoya-content">
        		
        		<h4> Obligations en matière d’accès</h4>
        		<p> Les mesures adoptées au niveau national en matière d’accès aux ressources génétiques doivent : </p>

				<ul>
					<li>
					Assurer la sécurité juridique, la clarté et la transparence
					</li>
					<li>
					Prévoir des règles et des procédures justes et non arbitraires
					</li>
					<li>
					Etablir des règles et des procédures claires en matière de consentement
préalable en connaissance de cause et de conditions convenues d’un
commun accord
					</li>
					<li>
					Prévoir la délivrance d’un permis ou de son équivalent, lorsque l’accès est accordé
					</li>
					<li>
					Créer des conditions propres à promouvoir et encourager la recherche qui
contribue à la conservation et l’utilisation durable de la diversité biologique
					</li>
				</ul>
				
        		</div>
        		
        	</div>
        	<div class="col-12 col-md-6">
        		<div class="nagoya-content">
        		
        		<h4>Obligations en matière de partage des avantages	</h4>
        		<p> Les mesures adoptées au niveau national en matière de partage des avantages doivent : </p>

				<ul>
					<li>
					Prévoir le partage juste et équitable des avantages découlant de
l’utilisation des ressources génétiques
					</li>
					<li>
					Le partage des avantages est soumis à des conditions convenues
d’un commun accord.
					</li>
					<li>
					Les avantages peuvent être monétaires, tels que des
redevances, ou non monétaires, comme le partage des résultats de la recherche
ou le transfert de technologie.
					</li>
					<li>
					Le Protocole de Nagoya propose aussi la création d’un mécanisme multilatéral
mondial de partage des avantages pour traiter le partage des avantages résultant de
l’utilisation des ressources génétiques
					</li>
					
				</ul>
				
        		</div>
        		
        	</div>
        	
        	<div class="col-12 col-md-6">
        		<div class="nagoya-content">
        		
        		<h4> Obligations en matière de respect des obligations</h4>
        		<p> Les mesures adoptées au niveau national en matière respect des obligations : </p>

				<ul>
					<li>
					Coopérer en cas de violation présumée des exigences prescrites par une
autre Partie contractante
					</li>
					<li>
					Favoriser des dispositions contractuelles sur le règlement des différends
dans les conditions convenues d’un commun accord
					</li>
					<li>
					Veiller à donner la possibilité de recours dans leur système législatif en cas
de différend résultant des conditions convenues d’un commun accord
					</li>
					<li>
					Prendre des mesures concernant l’accès à la justice
					</li>
					
				</ul>
				
        		</div>
        		
        	</div>
         </div>
        
      </div>
    </section>
    
    
    	<div th:replace="fragments/footer"></div>
    
  

  
    
  </body>
</html>